@import url('https://fonts.googleapis.com/css2?family=Archivo&family=VT323&display=swap');

body {
    font-family: 'Archivo', sans-serif;
    font-family: 'VT323', monospace;
    /* background-image: url(images/background.JPG);*/
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-image: linear-gradient(180deg, hsl(360, 81%, 55%), hsl(360, 81%, 68%));
    font-size: 26px;
}

header a {
    text-decoration: none;
    color: hsl(360, 81%, 55%);
    padding: 4px 8px;
    background-color: #ffffff;
    border-radius: 6px;
}

.pokemon-listings {
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    color: hsl(360, 81%, 55%);
    font-size: 34px;
}

.pokemon {
    margin: .5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
}

.pokemon li {
    margin: 12px 12px;
    text-align: center;
    border: 6px hsl(360, 81%, 52%) solid;
    border-radius: 6px;
    background-image: url("images/pokemon-background.png");
    box-shadow: 5px -5px grey;

}

.card-image {
    width: 150px;
}

.pokemon figure {
    position: relative;
}

.pokemon figcaption {
    border-top: 4px solid hsl(210, 17%, 66%);
    padding-bottom: 1em;
    background-image: linear-gradient(180deg, hsl(360, 81%, 55%), hsl(360, 81%, 65%));
    padding-top: 1em;
}

.pokemon a {
    text-decoration: none;
    background-color: hsl(231, 91%, 65%);
    color: #ffffff;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 20px;
    border: 4px solid hsl(210, 17%, 66%);
}

.spinner {
    width: 100%;
    position: absolute;
    top: 0;
}

.hidden {
    display: none;
}

.pokemon .pokeball {
    width: 24px;
    position: absolute;
    right: 0;
}

.pokemon-details img {
    width: 200px;
    background-image: url("images/pokemon-background.png");
    border: 6px hsl(360, 81%, 52%) solid;
    border-radius: 6px;
    box-shadow: 5px -5px grey;
    padding-bottom: .5em;

}

.pokemon-details figure {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pokemon-details figcaption {
    position: absolute;
    bottom: 3%;
    font-size: 30px;
    color: hsl(360, 81%, 52%);
}

.pokemon-details h2 {
    background-image: linear-gradient(180deg, hsl(360, 81%, 55%), hsl(360, 81%, 68%));
    color: #ffffff;
    font-size: 28px;
    margin-top: 1em;
}

.abilities {
    display: block;
    width: fit-content;
    margin: auto;
}

.abilities li {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin: 12px 12px;
    text-align: center;
    border: 6px hsl(360, 81%, 52%) solid;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 5px -5px grey;
}

.abilities li span {
    margin: 5px 5px;
}